// === FONTS ===
$main-font = #;
$secondary-font = #;
// === / FONTS ===

// === COLORS ===
$main-color: #;
$secondary-color: #;
$1st-accent-color: #;
$2nd-accent-color: #;
// === / COLORS ===

// === MISC ===
$padding-vertical: #;
$tranistion: all .3s;
// === / MISC ===
